
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AnaSayfaLayout.cshtml";
}

<section class="w3l-cover-3">
    <div class="cover top-bottom">
        <div class="container">
            <div class="middle-section text-center">
                <div class="section-width">
                    <p>It's great to be home!</p>
                    <h2>Find a property today</h2>
                    <div class="most-searches">
                        <h4>Most Searches</h4>
                        <ul>
                            <li><a href="#link">Villa</a></li>
                            <li><a href="#link">Apartment</a></li>
                            <li><a href="#link">Private house</a></li>
                        </ul>
                    </div>
                    <form action="#" class="w3l-cover-3-gd" method="GET">
                        <input type="search" name="text" placeholder="Enter keywords" required>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option selected="">Office</option>
                                <option>Villa</option>
                                <option>Apartment</option>
                                <option>Private house</option>
                                <option>Building</option>
                                <option>Shop</option>
                                <option>Social housing</option>
                                <option>Town house</option>
                            </select>
                        </span>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option selected="">Select Country</option>
                                <option>Australia</option>
                                <option>London</option>
                                <option>India</option>
                                <option>Bangladesh</option>
                                <option>Saudi Arabia</option>
                                <option>America</option>
                                <option>Srilanka</option>
                            </select>
                        </span>
                        <button type="submit" class="btn-primary">Search</button>
                    </form>
                </div>
                <section id="bottom" class="demo">
                    <a href="#bottom"><span></span>Scroll</a>
                </section>
            </div>
        </div>
    </div>
</section>

