
@{
    Layout = null;
}

@* Emlakci Layout Paneli *@

<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_YoneticiBaslangicDuzeni")

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        @await Component.InvokeAsync("_YoneticiYukleniyorDuzeni")
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        @await Component.InvokeAsync("_EmlakciSolMenu")
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">

            <!-- Navbar Start -->
            @await Component.InvokeAsync("_YoneticiGezinmeCubuguDuzeni")
            <!-- Navbar End -->
            <!-- Blank Start -->
            @RenderBody()
            <!-- Blank End -->
            <!-- Footer Start -->
            @await Component.InvokeAsync("_YoneticiAltBilgiDuzeni")
            <!-- Footer End -->
        </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    @await Component.InvokeAsync("_YoneticiScript")
</body>

</html>